@model IEnumerable<Resume_Portal.Controllers.EmployerController.FileWithPath>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div>
            <span>
                @item.FileName
            </span>
            <span>
                @Html.ActionLink("Download", "DownloadPostedResume", new { fileName = item.fileUrl }, new { target = "_blank" })
            </span>
            <span>
                @Html.ActionLink("Delete", "DeletePostedResume", new { fileName = item.fileUrl })
            </span>

        </div>
    }
} else
{
    <h4>No resumes.</h4>
}
