@model IEnumerable<Resume_Portal.Models.Program>

<h2>List Of Programs</h2>

<main>
    @foreach (var item in Model)
    {
        <section>
            <div>
                <img src="~/program-images/@item.Name/pic/logo.jpg" />
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Discription)
                <div>
                    @Html.ActionLink("Program Details", "ProgramDetails", new { id = item.Id })
                    @Html.ActionLink("All Students", "StudentInProgram", new { id = item.Id })
                </div>
            </div>
        </section>
    }
</main>




